
header{
    background-image:linear-gradient(rgba(32, 31, 31, 0.5),rgba(0,0,0,0.5)), url(../img/blog.jpg) ;
   
   
} 



.content-blog{
    padding: 40px;
    text-align: center;
}

.imgblog{
    width: 700px;
    display: block; 
    margin: 0 auto;
}


h2{
    color: white;
}