body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(32, 31, 31, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    width: 100%;
    height: 100vh;
}

.conteneur {
    display: flex;
    min-height: 100vh;
}

.menu-lateral {
    width: 250px;
    background-color: #2b3a6b;
    color: white;
    padding: 20px;
}

.profil {
    text-align: center;
    margin-bottom: 20px;
}

.profil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.nonactif:hover{
    color: gray;
}

.profil h2 {
    margin: 10px 0 0 0;
    font-size: 18px;
}
#titre-page{
    text-align: center;
    color: #2b3a6b;
}
.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a.actif {
    font-weight: bold;
}

.parametres-compte {
    flex: 1;
    padding: 10px;

}

.parametres-compte h1 {
    margin-bottom: 10px;
    
}

.ligne {
    margin-bottom: 15px;
}

.ligne label {
    display: block;
    margin-bottom: 5px;
}

.ligne input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.boutons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.boutons .btn-annuler{
    border: none;
    background-color: #2b3a6b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    width: 300px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.boutons .btn-annuler:hover {
    background-color: rgb(65, 64, 64);
}


/* profile Employe */

    .container{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .infos{
        width: 50%;
        max-width: auto;
        background-color: #2b3a6b;
        color: #fff;
        padding: 1em;
        border-radius: 1em;
    }

    .infos .info{
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        border-bottom: 1px solid #fff;
        align-items: center;
        height: auto;
    }

    .infos .info p{

        font-size: medium;
        text-transform: lowercase;
    }

    .btn{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 2em;
    }
    .btn input{
        text-align: center;
        color: #2b3a6b;
        border: 1px solid #2b3a6b;
        text-decoration: none;
        background-color: #fff;
        padding: 1em;
        border-radius: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        transition: .3s ease;
        margin: 10px;
    }


    .btn a{
        text-align: center;
        color: #2b3a6b;
        border: 1px solid #2b3a6b;
        text-decoration: none;
        background-color: #fff;
        padding: 1em;
        border-radius: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        transition: .3s ease;
    }

    
    .btn a:hover{
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        text-decoration: none;
        background-color: #2b3a6b;
        padding: 1em;
        border-radius: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
    }
   

    .btn input:hover{
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        text-decoration: none;
        background-color: #2b3a6b;
        padding: 1em;
        border-radius: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        letter-spacing: 2px;
    }



/* Style pour chaque groupe de formulaire */
.info {
    margin-bottom: 10px;
}

/* Style pour les étiquettes des champs de formulaire */
.info label {
    display: block;
    font-weight: bold;
    color: white; 
}

/* Style pour les champs de texte, les sélections et les fichiers */
.info input,
.info select {
    width: 50%;
    padding: 10px;
    border: 1px solid #2b3a6b;
    border-radius: 5px;
    margin-bottom: 10px;
}















/* main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
}

main div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"], input[type="time"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    } */
    
    .container{
        width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2em;
    margin-bottom: 1em;
}

.item form{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.item form .heures{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 8em;
}

.heure{
    width: 50%;
}
.item h2{
    color: #2b3a6b;
    text-align: center;
}




img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    transition: .3s ease;
    margin: 10px 0;
}

img:hover{
    transform: translateX(70px);
    border: #1a253e 2px solid;
    border-radius: 13px;

}

.btn{
    width: 100%;
    justify-content: center;
    display: flex;
}

.button-submit {
    background-color: #2b3a6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;

}

.button-submit:hover {
    background-color: #1a253e;
}








